body {
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(244,244,249,1) 100%);   
    scroll-behavior: smooth;
    padding-left: 15%;
    padding-right: 15%;
}


.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    padding-top: 20px;
}
.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
.sidebar a:hover {
    background: #333;
}
.content {
    margin-left: 260px;
    padding: 20px;
}

p {
    color:dimgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    color:rgba(255, 255, 255, 0.718);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 2%;
}

h3 {
    color:rgba(255, 255, 255, 0.688);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}